<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Comentario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="/css/graf.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div>

    <div class="d-flex align-items-center justify-content-center " style="height:80vh">

        <form action="/crear/comentario" method="POST" th:each="p: ${producto}" >
            <h1 >Crear Comentario</h1>
            <div>

                <div class="mb-3">
                    <input name ="id" type="text" th:value="${p.id}" class="form-control" style="display: none"> <!--style="display:none" -->
                </div>
                <div class="mb-3">
                    <h6>Nombre del Producto</h6>
                    <input name="nombre"  type="text" th:value="${p.nombre}" class="form-control"  disabled>
                </div>
                <div class="mb-3">
                    <h6>Comentario</h6>

                    <input name="comentario" type="text"  class="form-control" id="comentario" required="required">
                </div>

            </div>
            <button type="submit" class="btn btn-success">Agregar</button>
            <a href="/" type="cancel" class="btn btn-danger">Cancel</a>
        </form>


    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>
