<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comprar Producto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link href="/css/graf.css" rel="stylesheet" type="text/css"/>


</head>
<body class="d-flex align-items-center justify-content-center" style="height:80vh">  <!-- style="background-color:powderblue;"-->
<div class="justify-content-center" style="height:80vh"> <!-- CENTRALIZAR-->
    <ul  class="nav justify-content-end" style="background: papayawhip">
        <li class="nav-item">
            <a class="nav-link active" href="/1/comprar">Comprar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/1/ventasR">Ventas Realizadas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/1/adminP">Administrar productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/1/carrito">Carrito</a>
            <span class="badge badge-primary" th:text="${cantidad}"></span>
        </li>
    </ul>

    <div > <!-- class="d-flex align-items-center justify-content-center" style="height:80vh"-->
        <h1 style="text-align:center">Listado de Productos</h1>



        <nav class="justify-content-center" >
            <ul class="pagination pagination-sm" >
               <th:block th:each="i: ${#numbers.sequence(0, totalPagina )}">
                   <li class="page-item"><a class="page-link" th:href="'/'+${i+1}" th:text="${i+1}">0</a></li>
               </th:block>
            </ul>
        </nav>



        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID Producto</th>
                <th scope="col">Producto</th>
                <th scope="col">Foto</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio(RD$)</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Accion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each= "p : ${listaP}">
                <form action="/addCarrito" method="POST">
                    <td><input name="id" type="text" readonly th:value="${p.id}" >ID</td>
                    <td th:text="${p.nombre}">Nombre</td>

                    <td>
                        <div th:each= "foto : ${p.listaFotos}" id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="width: 100px; height: 100%; float: left">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img th:src="@{'data:'+${foto.getMimeType()}+';base64,'+${foto.getFotoBase64()}}" class="card-img-top" alt="Foto enviada" style="width: 100px; height: 100%;">
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>



                    </td>

                    <td th:text="${p.descripcion}">Descripcion</td>

                    <td th:text="${p.precio}">Precio</td>
                    <td><input name="cant" type="number"  step="1" min="1" max="1000" required="required">Cantidad</td></td>
                    <td><button type="submit" class="btn btn-primary">Agregar</button>
                        <a th:href="'/comentario/'+${p.id}" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                                <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </a>

                    </td>

                </form>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>

