<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Comentario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body class="d-flex align-items-center justify-content-center" style="height:80vh"> <!-- style="background-color:powderblue;"-->

<div > <!-- CENTRALIZAR-->

    <h1 class="justify-content-center">Comentarios</h1>

    <div  >
        <!--  <image src="https://cdn1.iconfinder.com/data/icons/grocery-store-filled/64/Grocery_Shop-36-512.png" Class="logo" alt="carrito"/> -->

        <!--  <form>-->

        <table class="table">
            <thead>
            <tr >
                <th scope="col">Producto</th>
                <th scope="col">Comentario)</th>
                <th scope="col">Accion</th>
            </tr>
            </thead>
            <tbody>    <!--VALORES TABLA LLENADO -->
            <tr th:each="c: ${comentario}" >
                <td th:text="${c.producto.nombre}">Producto</td>
                <td th:text="${c.comentario}">Precio</td>
                <td>
                    <a th:href="'/borrarComentario/'+${c.id}" class="btn btn-primary ">Eliminar</a>

                </td>
            </tr>
            </tbody>

        </table>
        <a href="/1/cancelcoment" type="cancel" class="btn btn-danger">Cancel</a>

       </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>

